@charset "utf-8";
body { background-color: #ffffff; color: black; }

a img { border:none; }

#topleft {
	float: left;
	height: 85px;
	width: 500px;
}

#topmiddle {
	height: 85px;
	margin: 0px;
	padding: 0px 10px 5px 10px;
}

#topright {
	float: right;
	height: 85px;
	width: 200px;
}

.ButtonItemActive {
	background-color: #ffffff;
	background-image: url("circle_active.png");
	background-repeat: no-repeat;
	background-position: left;
	height: 17px;
	margin: 5px;
	width:  17px;
}

.ButtonItemInactive {
	background-color: #cccccc;
	background-image: url("circle_inactive.png");
	height: 17px;
	background-repeat: no-repeat;
	background-position: left;
	margin: 5px;
	width:  17px;
}

#map {
	position: absolute;
	top: 100px; right: 0; bottom: 0; left: 0;
	border: 1px solid black;
	background-color: #cbced5;
}

/* For some bizarre reason the slider image is having an top offset of 6px which
 * results in a displacement of the slider on the zoombar. Setting top to -6px
 * solves this issue. However it should not be neccessary in the first place!
 */
img[src="http://openlayers.org/api/img/slider.png"]  { top: -6px; }
